<link rel="stylesheet" href="/CSS/signin.css">

<div class="main_container border box_center unsharp_edge">

    <div class="d-flex">
        <div class="signup half space text_center bold size pointer"> <a href="/user/signup" class="link d-block full">signUp</a> </div>
        <div class="signin half space text_center bold size focused pointer "><a href="/user/signin" class="link d-block full">signIn</a></div>
    </div>

    <h1 class="text_center mt-5">SignIn </h1>

    <form action="/user/create" class="mt-5" method="post">

        <div class="se-flex mt-2 bold size3">
            <label for="email">Email: </label> <input type="email" name="email" id="email" placeholder="Enter your email here..." required>
        </div>

        <div class="se-flex mt-2 bold size3">
            <label for="password">password: </label> <input type="password" name="password" id="password" placeholder="Enter your password here..." required>
        </div>

        

        <div class="se-flex mt-5 mb-5 size3">
            <input type="submit" class="bold button" value="submit">
        </div>

    </form>
    

</div>